.table-wrapper {
  overflow: auto;
  height: 400px;
}

.table-wrapper table {
  border-collapse: collapse;
  width: 100%;
}

.table-wrapper table thead{
  background-color: #e92;
}

.table-small table thead > tr >th,
.table-small table tbody > tr >td{
  padding: 8px 8px;
}

.table-middle table thead > tr >th,
.table-middle table tbody > tr >td{
  padding: 12px 8px;
}

.table-large table thead > tr >th,
.table-large table tbody > tr >td{
  padding: 16px 8px;
}
